<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Subham's World
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  

  <div id="container">
    
      <img src="https://dcassetcdn.com/design_img/7115/20365/20365_198730_7115_image.png" alt="">
    <ion-button color="primary">Hello World</ion-button>
   

    <ion-list>

      <ion-item (click)="companyInfo()">
        <ion-label>Company Information</ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>Company Product</ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>Company Services</ion-label>
      </ion-item>
  
  
    </ion-list>

  </div>


  


</ion-content>